body {
    background-color:#ccffef;
}

h1 {
    color:#0000EE;
}
.buttonSubmit {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

hr {
  display: block;
  margin-top: 2.5em;
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

ul {
    text-align: center;
    list-style-position: inside;
    color: red;
}
